<div class="container container-padding">
	<div class="row">
		<div class="col-md-4">
			<%= render 'blog_sidebar', tag_list: @tag_list, tag_lists: @tag_lists %>
		</div>

		<div class="col-md-8">
			<div class="content-box">
				<p class="text-center">
					<% if @tag %>
						<%= @tag.name %>タグで検索
					<% else %>
						ブログ記事一覧
					<% end %>
				</p>
				<%= render 'blog_index', blogs: @blogs %>
				<div class="text-center">
					<%= paginate @blogs %>
				</div>
			</div>
		</div>
	</div>
</div>