<div class="row">
	<h3>タグリスト</h3>
	<% @tag_list.each do |list| %>
		<li class="list-group-item text-center">
			<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, :style =>"color:black" %>
		</li>
	<% end %>

	<h3>投稿一覧</h3>
	<% @blogs.each do |blog| %>
		<%= link_to blog.title, blog_path(blog) %>
	<% end %>
</div>