<div class="row">
	<h3>ブログ記事検索</h3>
	<div class="col-xs-6">
		<div>タグから検索</div>
		<ul>
			<% @tag_list.each do |list| %>
				<li class="list-group-item text-center">
					<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, :style =>"color:black" %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-6">
		<div>キーワードで検索</div>
		<nav class="navbar navbar-left">
           	<%= form_tag(search_blogs_path, method: :get ) do %>
              	<%= select_tag(:option, options_for_select([["ユーザー名", "1"],["ブログタイトル", "2"]])) %>
              	<%= text_field_tag :search %>
              	<button name='button' type='submit'>
                	<i class="fa fa-search"></i>
              	</button>
            <% end %>
        </nav>
    </div>
</div>