<div class="container container-padding">
	<div class="row about">
		<div>
			<span class="about-title">
				<i class="fas fa-question-circle"></i> About
			</span>
			<div class="about-text">
				<h3>当サイトは、コーヒーに特化した情報共有サイトです。</h3>
				<h5>
					お家時間をもっと充実したものにするために、毎日のコーヒーの楽しみ方を広げてみませんか？<br>
					まずはレビューをチェックして、お気に入りの一杯を見つけてみてください。<br>
				</h5>
			</div>
			<div class="text-center more-link">
				<%= link_to "レビューを探す", select_reviews_path, class: "select-button" %>
			</div>
			<div class="text-center more-link">
				<%= link_to "ブログを探す", select_blogs_path, class: "select-button" %>
			</div>
		</div>
		<div class="about-subtext text-center">
			<h3>
				本サイトはポートフォリオ作品です。<br><br>
				閲覧はゲストログインをご利用ください。</br>
			</h3>
			<div class="text-center more-link">
				<%= link_to 'ゲストログイン', home_guest_sign_in_path, method: :post, class: "select-button" %>
			</div>
			<h4>また、管理者機能は、以下のメールアドレス・パスワードよりログインの上、ご利用をお願いいたします。</h4>
			<h5>＜管理者ログイン用＞<br>
				メールアドレス： 111@111<br>
				パスワード：     111111
			</h5>
		</div>
	</div>
</div>
