/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "froala_editor.min";
@import "froala_style.min";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after{
  content:"";
  clear: both;
  display: block;
}
a:hover {
	background-color: transparent;
	text-decoration: none;
}

body {
	background-color: #dcdcdc;
	font-family: 'Open Sans', sans-serif;
}

.body-image {
	width: 100%;
	height: 100%;
	background-image: url(stripe.jpg);
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
}
.container-padding {
	padding: 150px 0;
}
.alert {
	position: absolute;
	top: 100px;
	left: 130px;
}
.alert-success {
	background-color: rgba(240,128,128,0.8);
	color: #fff;
}
/* ヘッダー　*/

.header {
	background-color: #663333;
	padding: 20px;
	position: fixed;
}
.title-image {
	background-image: url(coffeecup.png);
	width: 50px;
	height: 50px;
	background-size: cover;
	position: absolute;
	left: 40px;
}
.title-logo {
	position: absolute;
	top: 30px;
	left: 100px;
}
.nav-item {
	font-size: 20px;
	color: #fff;
}

.header-notification {
	position: absolute;
	font-size: 15px;
	right: 5px;
	top: 13px;
	color: rgba(239,160,76,0.7);
}
/* トップ　*/

.main-visual {
	width: 100%;
	height: 800px;
	background-image: url(coffee1.jpg);
	background-size: cover;
	background-position: bottom;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.main-visual-content {
 	width: 100%;
 	height: 800px;
 	background-color: rgba(0,0,0,0);
 	text-align: center;
 	padding-top: 300px;
}
.main-visual-text {
 	color: #a9a9a9;
}
.main-content {
	width: 100%;
}
.content-box {
	margin-top: 50px;
	padding-bottom: 200px;
}
.content-box > p {
	color: #663300;
	font-size: 30px;
	font-weight: 600;
	padding: 2px;
	background: linear-gradient(transparent 60%, #996666);
}
.content-item-box {
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;

}
.content-item {
	width: 30%;
	height: 240px;
  	margin: 5px;
  	background: rgba(153,102,102,0.9);
  	border-radius: 30px;
  	box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}
.content-review-image {
	border-radius: 30px;
	margin: 10px 8px;
}
.content-blog-image {
	border-radius: 30px;
	margin: 30px 8px;
}
.content-text {
	text-align: center;
	color: #fff;
}
.more-link {
	margin-top: 20px;
	margin-bottom: 50px;
}
.signup-content {
	margin-top: 50px;
}
.signup-image {
	width: 300px;
	height: 300px;
	border-radius: 300px;
	background-image: url(latte.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
.signup-text > p {
	text-align: center;
	padding-top: 100px;
	font-size: 20px;
	font-weight: 600;
	color: #663300;
}
.select-button {
	margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px ;
    box-shadow: 0 2px 0 #663300;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: rgba(255,255,255,0.9);
    color: #663300;
}
.select-button:hover {
	background: rgba(102,51,0,0.9);
	color: #fff;
	box-shadow: none;
	text-decoration: none;
}
.top-button-box {
	padding-top: 40px;
}
/* ログイン　*/
.login-area {
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 50px;
	background-color: #faebd7;
	border-radius: 30px;
}
.login-field {
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}

/* アバウト　*/
.about {
	padding: 50px;
	background-color: #faebd7;
}
.about-title {
	font-size: 30px;
	border-botom: 2px solid #663300;
}
.about-text > h3 {
	font-size: 30px;
}
.about-text > h5 {
	font-size: 20px;
	line-height: 40px;
}
.about-subtext {
	background-color: #fff;
	border-radius: 30px;
	padding: 50px;
	font-weight: 700;
}

/* レビュー検索　*/
.select {
	margin-top: 15px;
}
.select p {
	font-size: 20px;
	font-weight: 800;
	color: #663300;
}
.select-category {
	height: 50px;
	padding: 2px;
}
.select-category-item {
	margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px ;
    box-shadow: 0 2px 0 #663300;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background: rgba(255,255,255,0.9);
    color: #663300;
}
.new-review-box {
	padding-top: 50px;
}
.new-review {
	margin: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px 30px ;
    box-shadow: 0 2px 0 #663300;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    background:rgba(102,51,0,0.9);
    color: #fff;
}
.new-review:hover {
	color: #c0c0c0;
	box-shadow: none;
	text-decoration: none;
	background-color:rgba(102,51,0,0.9);
}
.review-index {
	display: flex;
	border-radius: 30px;
	flex-wrap: wrap;
}
.review-item {
	width: 30%;
	height: 450px;
	margin: 20px;
	background: rgba(153,102,102,0.9);
  	border-radius: 30px;
  	box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}
.content-image {
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 20px;
}
.review-name {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
}
.review-content {
	margin: 10px 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 150;
}
.review-content p {
	color: #fff;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.review-link:hover {
	text-decoration: none;
}
/* レビュー一覧　*/
.review-index-item {
	width: 30%;
	height: 400px;
	margin: 10px;
	background: rgba(153,102,102,0.9);
  	border-radius: 30px;
  	box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}
.review-index-image {
	padding-top: 20px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.search-box {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* レビュー詳細　*/
.review-show-content {
	width: 100%;
	padding: 50px 50px 100px 50px;
	background-color: #fff;
	border-radius: 50px;
}
.product-name {
	padding: 3px;
	color: #663300;
	font-size: 40px;
	font-weight: 400;
	background: linear-gradient(transparent 80%, #996666);
}
.show-image-box {
	margin: 30px 0;
}
/* レビュー作成　*/
.post-review-title {
	color: #bc8f8f;
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: double 10px #bc8f8f;
}
/* ブログ検索　*/
.tag-box {
	display: flex;
	flex-wrap: wrap;
}
.tag-item {
	height: 50px;
	padding: 2px;
	width: 33%;
}
.blog-item {
	height: 300px;
	background-color: #fffafa;
	margin: 10px;
	padding: 10px;
	border-radius: 30px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4)
}
.brog-name {
	font-size: 20px;
	font-weight: 500;
}
.blog-text-box {
	padding: 30px;
}
.blog-user-name {
	border-bottom: 1px solid #808080;
	margin-bottom: 20px;

}
.blog-user-name p {
	font-size: 20px;
	color: #696969;
	font-weight: 500;
}
.blog-content p {
	font-size: 20px;
	color: #696969;
	font-weight: 500;
}
/* ブログ一覧　*/
.tag-select-button {
	margin: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px ;
    box-shadow: 0 2px 0 #663300;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    background: rgba(255,255,255,0.9);
    color: #663300;
}
.tag-select-button:hover {
	background: rgba(102,51,0,0.9);
	color: #fff;
	box-shadow: none;
	text-decoration: none;
}
.index-tag-item {
	height: 50px;
	padding: 2px;
	width: 45%;
}
/* ブログ詳細　*/
.profile-box {
	padding-top: 15px;
	padding-bottom: 15px;
}
.profile-box h4 {
	color: #663300;
	font-size: 20px;
	font-weight: 500;
}
.profile-box p {
	color: #663300;
	font-size: 15px;
	font-weight: 700;
}
.show-tag-list {
	margin: 20px 0;
}
.favorite-box {
	margin: 20px;
}
.blog-show-content {
	padding: 30px ;
	background-color: #fff;
	margin-bottom: 100px;
}
.blog-show-content > p {
	color: #663300;
}
.blog-show-title {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: double 10px #bc8f8f;
}
.blog-show-title h3 {
	color: #663300;
	font-size: 30px;
	font-weight: 700;
}
.blog-box {
	margin-bottom: 30px;
}
.comment-count {
	margin-top: 30px;
	border-bottom: solid 3px #bc8f8f;
}
.comment-count h3 {
	color: #663300;
	font-weight: 500;
}
.comment {
	color: #663300;
}
/* ブログ作成　*/
.new-post {
	background-color: #faf0e6;
	padding: 30px;
	border-radius: 30px;
}
.new-post h3 {
	color: #663300;
	font-weight: 700;
}
.new-post h4, h5, p{
	color: #663300;
}
.new-post span {
	color: #663300;
	font-size: 20px;
	font-weight: 400;
}
/* マイページ　*/
.mypage-title {
	font-size: 30px;
	font-weight: 600;
	padding: 2px;
	background: linear-gradient(transparent 60%, #bc8f8f);
	margin-bottom: 30px;
	color: #111;
}
.profile-image {
	border-radius: 50%;
}
.user-profile h3 {
	font-size: 28px;
	margin-top: 20px;
    margin-bottom: 10px;
}
.user-profile h4 {
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 40px;
}
.notification-bel {
	font-size: 50px;
}
.notification-circle {
	position: absolute;
	font-size: 30px;
	padding-left: 4rem;
	padding-top: 0rem;
	color: #efa04c;
}
.notification-count {
	position: absolute;
	font-size: 15px;
	color: #fff;
	padding-left: 4rem;
	padding-top: 0rem;
}

.area {
	margin-top: 50px;

}
#tab-menu li {
  width: 25%;
  float: left;
  list-style-type: none;
}
#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background-color: #696969;
}
#tab-menu .active {
  background-color: #fff;
  color: #696969;
}
#tab-contents .tab {
  padding: 30px;
  background-color: #fff;
}

#tab-contents p{
  color:#000;
  line-height: 2.5;
}
.mypage-content {
	margin-left: 15px;
}
.mypage-item {
	margin: 30px 0;
	padding-top: 10px;
	border-top: 1px solid #808080;
}
.mypage-item h5 {
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.favorite-content {
	padding-bottom: 50px;
}
.post-count {
	padding-top: 80px;
}
.name-box {
	margin-top: 30px;
	padding-left: 30px;
	height: 30px;
}
.follow-box {
	margin-top: 30px;
}
.new-box {
	width: 30%;
	height: 50px;
	margin: 20px;
	padding-top: 5px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 2px 0 #663300;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color:rgba(240,128,128,0.9);
}
.new-box:hover {
	box-shadow: none;
	text-decoration: none;
	background-color:rgba(205,92,92,0.9);
}
.admin-menu {
	margin: 30px;
	background-color: rgba(188,143,143,0.8);
	padding-top: 20px;
	padding-bottom: 50px;
	border-radius: 30px;
}
.admin-menu h3 {
	font-size: 30px;
	font-weight: 600;
	padding: 2px;
	border: 10px double #808080;
	margin-bottom: 30px;
	color: #111;
}
.admin-menu h5 {
	font-size: 20px;
	font-weight: 400;
	color: #111;
}
.category-form {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* マイページ編集　*/
.mypage-edit {
	margin-top: 80px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    padding-bottom: 40px;
    padding-top: 50px;
}
.mypage-edit h4 {
	font-size: 20px;
    border-bottom: solid 1.5px black;
    padding: 10px;
}

/* 通知画面　*/
.notification-index {
	height: 250px;
}
.notification-delete {
	font-size: 20px;
}
.notification-text {
	font-size: 17px;
}
.moderate-form {
	font-size: 15px;
}
.notification-comment {
	color: #696969;
	font-size: 15px;
}
.notification-item {
	padding: 5px;
}
/* いいね　*/
.favorite-form {
	font-size: 18px;
}

/* ページネーション　*/
.pagination {
	border: none;
	color: #663300;
}
.pagination > .active > a {
	border: none;
 	background: #663300;
}
.pagination > li > a {
	color: #663300;
	background-color: #fffaf0;
}
.pagination > li > a:hover {
 	border-radius: 15px;
 	color: #663300;
}
.pagination > .active > a:hover {
	background-color: #663300;
}

/* フッター　*/
.footer {
	width: 100%;
	height: 100px;
	background-color: #696969;
	line-height: 100px;
	text-align: center;
	color: #fff;
	font-size: 15px;

}

