<div class="container container-padding">
	<div class="row">
		<div class="col-md-3">
			<%= render 'review_sidebar', review_categories: @review_categories %>
		</div>
		<div class="col-md-9">
			<div class="content-box">
				<p class="text-center">
					<% if @review_category %>
						<%= @review_category.name %>
					<% else %>
						全レビュー
					<% end %>
				</p>
				<%= render 'review_index', reviews: @reviews %>
			</div>
		</div>
	</div>
</div>